 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
html,body {
 height: auto;
}
body{
    background: white;
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;
}
.options_bar{
    padding: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: -2.5rem;
    margin-top: -2rem;
    
}
.color_button,.reset_button,.size_button,.grayscale,.rand_color{
    height: 2rem;
}
button{
    border-radius: 2rem;
    background-color: paleturquoise;
    padding: 0rem;
    border: 2px solid transparent;
    color: white;
    height: 2rem;
    text-align: center;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.reset_button{
    background-color: red;
}
.rand_drawing{
    width: 10rem;
    background-color:greenyellow;
}
.rand_color_animation{
    width: 8rem;
    background-color: blueviolet;
}
.grayscale{
    background-color: gray;
    width: 7rem;
}
.dimensions_input{

}
.size_button{
    width: 5rem;
}
.reset_button{
    width: 5rem;
}
.rand_color{
    width: 8rem;
}
.cell{
    background: grey;
    border-radius: .1rem;
    filter: none;
}
.grid{
    --size:3;
    --width:35rem;
    --height:35rem;
    background: black;
    width: var(--width);
    height:var(--height);
    display: grid;
    gap: 0.3rem;
    padding: 0.5rem;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    border-radius: 2rem;
    margin-top: -2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.otherOptions{
    margin-top: 10rem;
}
